Playing around with datetime index in pandas

In [11]:
import pandas as pd
import datetime as dt

datafile = 'data/oosdata.2020'
dat_names = ['wdate','wind_dir','wind_speed','wind_gust','col5','humidity','col7','temp_out','col9','col10']
# TODO: can I read just a select date range?
df = pd.read_csv(datafile, sep=' ',names=dat_names,index_col=0,parse_dates=True)
df = df.drop_duplicates()

df.index = pd.to_datetime(df.index,format="%Y%m%d%H%M")

# the full index range
date_limits = [df.index.min(),df.index.max()]
# start with range slider of last 30 days
slide_length = 15
date_range = date_limits[1] - date_limits[0]
date1 = date_limits[1]
date0 = date_limits[1] - dt.timedelta(days=slide_length) if date_range > dt.timedelta(days=30) else date_limits[0]
print(date0,date1)
df.describe()
df.head()

2020-01-22 13:10:00 2020-02-06 13:10:00

,wind_dir,wind_speed,wind_gust,col5,humidity,col7,temp_out,col9,col10
wdate,,,,,,,,,
2020-01-01 00:01:00,359.0,9.0,10.0,100.0,38.0,57.3,49.4,25.096,7.57
2020-01-01 00:06:00,359.0,7.0,11.0,100.0,38.0,57.3,49.2,25.096,7.57
2020-01-01 00:11:00,359.0,9.0,11.0,100.0,38.0,57.3,49.2,25.096,7.57
2020-01-01 00:16:00,359.0,7.0,11.0,100.0,38.0,57.1,49.0,25.097,7.57
2020-01-01 00:21:00,359.0,7.0,8.0,100.0,40.0,57.1,48.7,25.094,7.57

In [12]:
df30 = df.loc[date0 : date1]
df30.describe()
df30.head()

,wind_dir,wind_speed,wind_gust,col5,humidity,col7,temp_out,col9,col10
wdate,,,,,,,,,
2020-01-22 13:10:00,359.0,0.0,0.0,100.0,80.0,66.7,51.8,25.143,7.9
2020-01-22 13:15:00,359.0,0.0,6.0,100.0,81.0,66.9,51.7,25.143,7.9
2020-01-22 13:21:00,245.0,0.0,0.0,100.0,78.0,67.0,51.7,25.142,7.9
2020-01-22 13:26:00,359.0,0.0,0.0,100.0,81.0,67.2,51.5,25.143,7.9
2020-01-22 13:31:00,359.0,0.0,0.0,100.0,81.0,67.4,51.1,25.142,7.9

In [13]:
# generate a list of dates for the slider
def gen_date_list(date0,date1):
    d0 = dt.date(date0.year,date0.month,date0.day)
    d1 = dt.date(date1.year,date1.month,date1.day)
    ndate = (d1-d0).days
    day_delta = dt.timedelta(days=1)
    dlist = [d0 + i*day_delta for i in range(ndate)]
    return dlist

dlist = gen_date_list(date0,date1)
print(dlist)

[datetime.date(2020, 1, 22), datetime.date(2020, 1, 23), datetime.date(2020, 1, 24), datetime.date(2020, 1, 25), datetime.date(2020, 1, 26), datetime.date(2020, 1, 27), datetime.date(2020, 1, 28), datetime.date(2020, 1, 29), datetime.date(2020, 1, 30), datetime.date(2020, 1, 31), datetime.date(2020, 2, 1), datetime.date(2020, 2, 2), datetime.date(2020, 2, 3), datetime.date(2020, 2, 4), datetime.date(2020, 2, 5)]